* {
    margin: 0; padding: 0;
    /* border: solid 0.5px rgb(215, 218, 217);     */
}

#top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffcc;
    background: linear-gradient( to bottom, #f8f2ec, #c38e55);
    width: 100%;
    height: 800px;
}

#start-view {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10em;
    height: 100%;
}

/* add some extra space where needed */
.space {
    padding: 2em;
}

#game-view{
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 5em;
}

#end-view{
    display: center;  
    justify-content: center;
    align-items: center;
    text-align: center;
}

#scorecontainer {
    height: 500px;
    width: 200px;
    background-color: #ffffcc;
    border: 3px solid #56b300; 
    border-radius: 3px;
}

#gamecontainer {
    height: 500px;
    width: 805px;
    background-color: #f2ffe6;
    border: 3px solid #56b300; 
    border-radius: 3px;
}

.button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    /* position: absolute; */
    left: 50px;
    top: 50px;
    color: #FFF;
    text-decoration: none;
    border: 0.5px solid #257448 ;
    border-radius: 3px;
    background: linear-gradient(#46a771 50%, #257448 50%);
    text-align: center;
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
.button:hover {
    background: linear-gradient(#43753e 50%, #093905 50%);
}
.button:active {
    background: linear-gradient(#bd5a13 50%, #863c07 50%);
}