* {
    margin: 0; padding: 0;
    /* border: solid 0.5px rgb(215, 218, 217);     */
}

h2 {
    font-size: 1.5em;
    color: #E26231;      
}

h3 {
    font-size: 1.3em;
    color: #5C2E00;
    font-weight: bold;
    text-align:center;
}

h4 {
    font-size: 1em;
    color: #5C2E00;
    font-size: bold;
    text-align:center;
}

#startcontainer img {
    height: 4em;
    margin-right: 0em;
}

#player-blue, #player-green {
    height: 4em;    
}

#top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffcc;
    background: linear-gradient( to bottom, #f8f2ec, #c38e55);
    width: 100%;
    height: 900px;
}

#start-view {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    height: 100%;
}

/* add some extra space where needed */
.space {
    padding: 2em;
}

#game-view{
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 5em;  
}

#game-view h3, h4 {
    text-align:left;
}

#end-view{
    display: center;  
    justify-content: center;
    align-items: center;
    text-align: center;
}

#scorecontainer {
    position:relative;
    height: 500px;
    width: 200px;
    background-color: #e2c188;
    border: 5px solid #925B00; 
    border-radius: 3px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

#gamecontainer {
    height: 500px;
    width: 808px;
    border: 5px solid #925B00; 
    border-radius: 3px;
    background: no-repeat url("../images/bg_board_800x500.png");
    background-clip: border-box;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* Buttons */
.button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    left: 50px;
    top: 50px;
    color: #FFF;
    text-decoration: none;
    border: 0.5px solid #257448 ;
    border-radius: 3px;
    background: linear-gradient(#46a771 50%, #257448 50%);
    text-align: center;
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button:hover {
    background: linear-gradient(#43753e 50%, #093905 50%);
}
.button:active {
    background: linear-gradient(#bd5a13 50%, #863c07 50%);
}

/* radio */
.btn-group {
    background-color:#D6B18B ;
}


/* Progressbar */
#coffee-progress{
    position: absolute;
    left: 20%;
    top: 35%;
    width: 15%;
    height:60%;
    background:#E5E5E5;
     /* box-shadow:  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

#lab-progress{
    position: absolute;
    left: 60%;
    top: 35%;
    width: 15%;
    height:60%;
    background:#E5E5E5;
    border: none;
}

.progress-bar{
    position: absolute;
    top: 100%; 
    width: 100%;
    height: 0%; 
    border: none;
}

